@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components



<div>
    <!-- Top Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-vandalia-secondary px-4">
        <a class="navbar-brand" href="https://vandaliarental.com/">
            <img src=".\VR_black.png" width="151" height="47" class="align-top mb-2 mt-1" />
        </a>
        <div class="container-fluid justify-content-end">
            <button class="btn btn btn-danger" @onclick="SignOut">Sign Out</button> 
            
        </div>


    </nav>

    <!-- Main Content Area -->
    <div class="main-content-wrapper container-fluid">
        <!-- Sidebar -->
        <div class="vandalia-sidebar">
            <NavMenu></NavMenu>
        </div>

        <!-- Content -->
        <div class="main-content">
            @Body
        </div>
    </div>
</div>

@code {
    [Inject] NavigationManager Navigation { get; set; }

    
    private void SignOut()
    {
        //Navigation.NavigateTo("MicrosoftIdentity/Account/SignOut", forceLoad: true);
        var logoutUrl =
            "https://login.microsoftonline.com/d043ca51-898d-4bc1-bc1a-1931222e72fb/oauth2/v2.0/logout" +
            "?post_logout_redirect_uri=https://localhost:7189/";

        Navigation.NavigateTo(logoutUrl, forceLoad: true);
    }
    
}





