<div class="sidebar  bg-vandalia-gray">
    <div class="pt-2 h-100 d-flex justify-content-center">


        <div class="menu btn-group-vertical gap-4 align-items-center w-100">
            
            <div class="dropdown w-100">
                <button class="btn btn-secondary dropdown-toggle w-100" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Rental
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="https://vandaliarental.com/" target="_blank">Roleplay</a></li>
                    <li><a class="dropdown-item" href="https://vandaliarental.my.salesforce.com/" target="_blank">Salesforce</a></li>
                    <li><a class="dropdown-item" href="#" target="_blank">Delivery Zones</a></li>
                    <li><a class="dropdown-item" href="#" target="_blank">Heavy Haul Calculator</a></li>
                    
                </ul>
            </div>
            <div class="dropdown w-100">
                <button class="btn btn-secondary dropdown-toggle w-100" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Sales
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#" target="_blank">Used Equipment Calculator</a></li>
                    <li><a class="dropdown-item" href="#" target="_blank">Rouse</a></li>
                </ul>
            </div>
            <div class="dropdown w-100">
                <button class="btn btn-secondary dropdown-toggle w-100" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Service
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#" target="_blank">R Status</a></li>
                    <li><a class="dropdown-item" href="#" target="_blank">Quality App</a></li>  
                </ul>
            </div>
            <div class="dropdown w-100">
                <button class="btn btn-secondary dropdown-toggle w-100" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Maintenance
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#" target="_blank">Service Requests</a></li>                    
                </ul>
            </div>
            <div class="dropdown w-100">
                <button class="btn btn-secondary dropdown-toggle w-100" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Dispatch
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#" target="_blank">TSO</a></li>
                    <li><a class="dropdown-item" href="#" target="_blank">InTempoCTX</a></li>                    
                </ul>
            </div>
            <div class="dropdown w-100">
                <button class="btn btn-secondary dropdown-toggle w-100" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    IT
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#" target="_blank">Employee Contacts</a></li>
                    <li><a class="dropdown-item" href="#" target="_blank">Help Desk</a></li>                    
                </ul>
            </div>
            <div class="dropdown w-100">
                <button class="btn btn-secondary dropdown-toggle w-100" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    HR
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#" target="_blank">Paylocity</a></li>
                    <li><a class="dropdown-item" href="#" target="_blank">Request Time Off</a></li>
                    <li><a class="dropdown-item" href="#" target="_blank">Employee Termination</a></li>
                    <li><a class="dropdown-item" href="#">Employee Change</a></li>
                    <li><a class="dropdown-item" href="#">Careers</a></li>
                    <li><a class="dropdown-item" href="#">Training</a></li>
                </ul>
            </div>
            <div class="dropdown w-100">
                <button class="btn btn-secondary dropdown-toggle w-100" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Purchasing
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#" target="_blank">Smartequip</a></li                    
                </ul>
            </div>
            <div class="dropdown w-100">
                <button class="btn btn-secondary dropdown-toggle w-100" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Fleet
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#" target="_blank">InTempoMX</a></li>
                    <li><a class="dropdown-item" href="#" target="_blank">Rental Transfer (Salesforce)</a></li>                    
                </ul>
            </div>
            <div class="dropdown w-100">
                <button class="btn btn-secondary dropdown-toggle w-100" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Accounting
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#" target="_blank">AP</a></li>
                    <li><a class="dropdown-item" href="#" target="_blank">AR</a></li>
                    <li><a class="dropdown-item" href="#">Finance</a></li>
                    <li><a class="dropdown-item" href="#">Square9 (Approvers)</a></li                    
                </ul>
            </div>
            <div class="dropdown w-100">
                <button class="btn btn-secondary dropdown-toggle w-100" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Marketing
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#" target="_blank">Logos</a></li>
                    <li><a class="dropdown-item" href="#" target="_blank">Flyers</a></li>
                    <li><a class="dropdown-item" href="#">Website</a></li>                   
                </ul>
            </div>
            

        </div>
    </div>
</div>
