<div class="sidebar  bg-vandalia-gray">
    <div class="pt-2 h-100 d-flex justify-content-center">


        <div class="menu btn-group-vertical gap-4 align-items-center">
            
            <div class="dropdown w-100">
                <button class="btn btn-secondary dropdown-toggle w-100" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Rentals
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="https://vandaliarental.com/" target="_blank">VR Website</a></li>
                    <li><a class="dropdown-item" href="https://vandaliarental.my.salesforce.com/" target="_blank">Salesforce</a></li>
                    <li><a class="dropdown-item" href="#">Support Desk</a></li>
                    <li><a class="dropdown-item" href="#">Employee Directory</a></li>
                    <li><a class="dropdown-item" href="#">Delivery Zones</a></li>
                    <li><a class="dropdown-item" href="https://www.paylocity.com/" target="_blank">Paylocity</a></li>
                    <li><a class="dropdown-item" href="#">Vizion Dashboard</a></li>
                    <li><a class="dropdown-item" href="#">Rouse Analytics</a></li>
                    <li><a class="dropdown-item" href="#">Targit</a></li>
                    <li><a class="dropdown-item" href="#">Smart Equip</a></li>
                </ul>
            </div>
            <div class="dropdown w-100">
                <button class="btn btn-secondary dropdown-toggle w-100" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Sales
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="https://vandaliarental.com/" target="_blank">VR Website</a></li>
                    <li><a class="dropdown-item" href="https://vandaliarental.my.salesforce.com/" target="_blank">Salesforce</a></li>
                    <li><a class="dropdown-item" href="#">Support Desk</a></li>
                    <li><a class="dropdown-item" href="#">Employee Directory</a></li>
                    <li><a class="dropdown-item" href="#">Delivery Zones</a></li>
                    <li><a class="dropdown-item" href="https://www.paylocity.com/" target="_blank">Paylocity</a></li>
                    <li><a class="dropdown-item" href="#">Vizion Dashboard</a></li>
                    <li><a class="dropdown-item" href="#">Rouse Analytics</a></li>
                    <li><a class="dropdown-item" href="#">Targit</a></li>
                    <li><a class="dropdown-item" href="#">Smart Equip</a></li>
                </ul>
            </div>
            <div class="dropdown w-100">
                <button class="btn btn-secondary dropdown-toggle w-100" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Human Resources
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="https://vandaliarental.com/" target="_blank">VR Website</a></li>
                    <li><a class="dropdown-item" href="https://vandaliarental.my.salesforce.com/" target="_blank">Salesforce</a></li>
                    <li><a class="dropdown-item" href="#">Support Desk</a></li>
                    <li><a class="dropdown-item" href="#">Employee Directory</a></li>
                    <li><a class="dropdown-item" href="#">Delivery Zones</a></li>
                    <li><a class="dropdown-item" href="https://www.paylocity.com/" target="_blank">Paylocity</a></li>
                    <li><a class="dropdown-item" href="#">Vizion Dashboard</a></li>
                    <li><a class="dropdown-item" href="#">Rouse Analytics</a></li>
                    <li><a class="dropdown-item" href="#">Targit</a></li>
                    <li><a class="dropdown-item" href="#">Smart Equip</a></li>
                </ul>
            </div>
            <div class="dropdown w-100">
                <button class="btn btn-secondary dropdown-toggle w-100" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Maintenance
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="https://vandaliarental.com/" target="_blank">VR Website</a></li>
                    <li><a class="dropdown-item" href="https://vandaliarental.my.salesforce.com/" target="_blank">Salesforce</a></li>
                    <li><a class="dropdown-item" href="#">Support Desk</a></li>
                    <li><a class="dropdown-item" href="#">Employee Directory</a></li>
                    <li><a class="dropdown-item" href="#">Delivery Zones</a></li>
                    <li><a class="dropdown-item" href="https://www.paylocity.com/" target="_blank">Paylocity</a></li>
                    <li><a class="dropdown-item" href="#">Vizion Dashboard</a></li>
                    <li><a class="dropdown-item" href="#">Rouse Analytics</a></li>
                    <li><a class="dropdown-item" href="#">Targit</a></li>
                    <li><a class="dropdown-item" href="#">Smart Equip</a></li>
                </ul>
            </div>
           

        </div>
    </div>
</div>
