<div class="sidebar  bg-vandalia-gray">
    <div class="pt-2 h-100">


        <div class="menu btn-group-vertical d-flex justify-content-center gap-4 align-items-start">


            <NavLink class="btn bg-vandalia-medium-gray" href="/" Match="NavLinkMatch.All">
                Home
            </NavLink>
            <NavLink class="btn bg-vandalia-medium-gray" href="https://vandaliarental.com/" target="_blank">
                VR Website
            </NavLink>
            <NavLink class="btn bg-vandalia-medium-gray" href="https://vandaliarental.my.salesforce.com/" target="_blank">
                Salesforce
            </NavLink>
            <NavLink class="btn bg-vandalia-medium-gray" href="">
                Support Desk
            </NavLink>
            <NavLink class="btn bg-vandalia-medium-gray" href="">
                Employee Directory
            </NavLink>
            <NavLink class="btn bg-vandalia-medium-gray" href="">
                Delivery Zones
            </NavLink>
            <NavLink class="btn bg-vandalia-medium-gray" href="https://www.paylocity.com/" target="_blank">
                Paylocity
            </NavLink>
            <NavLink class="btn bg-vandalia-medium-gray" href="">
                Vizion Dashboard
            </NavLink>
            <NavLink class="btn bg-vandalia-medium-gray" href="">
                Rouse Analytics
            </NavLink>
            <NavLink class="btn bg-vandalia-medium-gray" href="">
                Targit
            </NavLink>
            <NavLink class="btn bg-vandalia-medium-gray" href="">
                Smart Equip
            </NavLink>

        </div>
    </div>
</div>
