@page "/"


<PageTitle>Vandalia Central</PageTitle>
<div class="container-fluid py-4">

    <!-- Bottom Row -->
    <div class="row g-4 pb-4">

        <!-- Left Column -->
        <div class="col-12 col-lg-8 ">
            <!-- Monday Minute -->
            <div class="p-4 border rounded bg-white shadow-sm h-100 w-100">
                <h5 class="mb-3">Monday Minute</h5>
                <div style="height: 750px; background-color: #e9ecef;" class="w-100 rounded">
                    <object data=".\pdf\Monday Minute - March 24, 2025.pdf" type="application/pdf" width="100%" class="h-100">
                        <p>Your browser does not support PDFs. <a href="your_pdf.pdf">Download the PDF</a></p>
                    </object>
                </div>
            </div>
        </div>


        <!-- Right Column -->
        <div class="col-12 col-lg-4 d-flex flex-column gap-4">
            <!-- Calendar Section -->
            <div class="p-4 border rounded bg-white shadow-sm flex-fill" style="min-height: 500px;">
                <h5 class="mb-3">Bonus Chart</h5>
                <div style="height: 300px; background-color: #e9ecef;" class="w-100 rounded"></div>
            </div>

            <!-- Blog/Newsfeed Section -->
            <div class="p-4 border rounded bg-white shadow-sm flex-fill" style="min-height: 350px;">
                <h5 class="mb-3">Company Calendar</h5>
                <div style="height: 250px; background-color: #e9ecef;" class="w-100 rounded"></div>
            </div>
        </div>

        

        

        
    </div>

    
    
</div>

